body {
  counter-reset: about-list-counter;
}

/* Hero Section */
.hero-section {
  background-color: #004A80;
  color: white;
  padding-bottom: 40px;
}

.hero-section h1 {
  padding: 10px 0;
}

.hero-section p {
  text-align: center;
  line-height: 1.2;
}

.hero-section p span {
  color: #F6BC25;
  font-weight: 500;
}

.hero-section form {
  padding: 18px 0;
  display: flex;
  flex-direction: column;
}

.hero-section .form-field {
  border-radius: 3px;
}

.hero-section form.error .email-input-wrapper {
  background: linear-gradient(#F0002F, #DC0015);
  padding: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.hero-section .error-message {
  display: none;
  font-size: 14px;
  color: #FFF;
  line-height: 1.285;
  text-align: left;
}

.hero-section .error-message span {
  display: block;
  background-color: #DC0015;
  padding: 4px 12px;
  border-radius: 3px;
  border: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.hero-section form.error input {
  background-color: white;
}

.hero-section form.error .error-message {
  display: block;
}

.hero-section form button {
  margin-top: 10px;
}

.hero-section small {
  color: #F6BC25;
  display: flex;
  font-weight: 500;
  align-items: flex-start;
}

.hero-section small img {
  padding-right: 10px;
}

/* About Section */
.about-section {
  background-image: linear-gradient(0deg, #E6E6E6 0%, #FFFFFF 100%);
  padding-top: 30px;
  padding-bottom: 30px;
}

.about-section h1 {
  color: #004A80;
}

.about-section p {
  color: #4A4A4A;
  padding-top: 15px;
}

.about-section .about-list-wrapper {
  padding-top: 20px;
}

.about-section .about-list-item {
  counter-increment: about-list-counter;
  display: flex;
  padding-top: 15px;
}

.about-section .about-list-item:first-of-type {
  padding-top: 0;
}

.about-section .about-list-item:before {
  content: counter(about-list-counter);
  background-color: #004A80;
  font-size: 26.88px;
  color: #F6BC25;
  font-weight: bold;
  border-radius: 50%;
  width: 50.4px;
  min-width: 50.4px;
  height: 50.4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10.6px;
}

.about-section .about-list-item h4 {
  font-size: 20px;
  font-weight: bold;
  color: #004A80;
}

.about-section .about-list-item p {
  font-size: 16px;
  color: #000;
  padding-top: 8px;
}

@media (min-width: 768px) {
  /* Hero Section */
  .hero-section {
    padding-top: 30px;
    padding-bottom: 60px;
  }

  .hero-section h1 {
    padding: 0;
    padding-bottom: 15px;
  }

  .hero-section form {
    flex-direction: row;
    align-items: flex-start;
    padding-top: 29px;
    padding-bottom: 30px;
  }

  .hero-section form .form-field {
    width: 100%;
  }

  .hero-section form input {
    padding: 24px 12px;
  }

  .hero-section form.error input {
    padding: 22px 12px;
}

  .hero-section .email-input-wrapper {
    border-radius: 3px;
  }

  .hero-section .error-message {
    position: absolute;
  }

  .hero-section .error-message span {
    display: inline-block;
  }

  .hero-section form button {
    width: 180px;
    min-width: 180px;
    padding: 21px 0;
    margin-top: 0;
    margin-left: 20px;
  }

  .hero-section small img {
    padding-right: 15px;
  }

  /* About Section */
  .about-section p {
    padding-top: 20px;
  }

  .about-section .about-list-wrapper {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: column;
    padding-top: 30px;
  }

  .about-section .about-list-item {
    padding: 0;
    margin-top: 20px;
  }

  .about-section .about-list-item:first-of-type,
  .about-section .about-list-item:nth-of-type(4) {
    margin-top: 0;
  }

  .about-section .about-list-item:first-of-type,
  .about-section .about-list-item:nth-of-type(2),
  .about-section .about-list-item:nth-of-type(3) {
    margin-right: 24px;
  }

  .about-section .about-list-item:before {
    margin-right: 20px;
    font-size: 33.6px;
    width: 63px;
    min-width: 63px;
    height: 63px;
  }
}

@media (min-width: 1440px) {
  .hero-section > *,
  .about-section h1,
  .about-section p {
    max-width: 980px;
    margin: auto;
  }

  /* Hero Section */
  .hero-section {
    padding-bottom: 95px;
  }

  .hero-section p {
    font-size: 24px;
  }

  .hero-section .error-message {
    position: initial;
  }

  /* About Section */
  .about-section {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  .about-section .about-list-wrapper {
    padding-top: 40px;
    max-width: 1040px;
    margin: auto;
  }

  .about-section .about-list-item h4 {
    font-size: 22px;
  }

  .about-section .about-list-item p {
    font-size: 18px;
  }

  .about-section .about-list-item:before {
    font-size: 48px;
    width: 90px;
    min-width: 90px;
    height: 90px;
    margin-top: 11px;
  }

  .about-section .about-list-item {
    padding: 0;
    margin-top: 30px;
  }

  .about-section .about-list-item:first-of-type,
  .about-section .about-list-item:nth-of-type(4) {
    margin-top: 0;
  }

  .about-section .about-list-item:first-of-type,
  .about-section .about-list-item:nth-of-type(2),
  .about-section .about-list-item:nth-of-type(3) {
    margin-right: 60px;
  }
}